:root {
  --max-width-container: 600px;
  --max-width-label: 5em;
  --padding: 0.3em;
  --font-size: 1em;
  --height: 4em;
  --height-header: 3em;
  --height-footer: 10em;
  --height-main: calc(100% - var(--height-header) - var(--height-footer));
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
div {
  width: 100%;
}
h3 {
  font-size: calc(var(--font-size) * 0.7);
  font-weight: normal;
  margin: 0;
  padding: 0;
  padding: var(--padding);
  background: #333;
  color: #fff;
}
a, a:link, a:visited, a:hover, a:active {
  color:#fff;
}

input[type="text"] {
  box-sizing: border-box; /* 個別に指定しなきゃだめ */
  font-size: var(--font-size);
  height: var(--height);
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
}

select {
  box-sizing: border-box; /* 個別に指定しなきゃだめ */
  font-size: var(--font-size);
  height: var(--height);
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
}

label {
  display: block;
  width: 100%;
  height: var(--height);
  line-height: var(--height);
  padding-left: var(--padding);
  max-width: var(--max-width-label);
  background: #444;
  color: #fff;
}

label + input[type="text"] {
  width: calc(100% - var(--max-width-label));
}

/* ************************************************ */
/* header */
/* ************************************************ */
.container_header {
    flex-shrink: 0;
    height: var(--height-header);
    line-height: var(--height-header);
    background: #000;
  color: #fff;
}
.container_header > header {
  max-width: var(--max-width-container);
  margin: 0 auto;
}

/* ************************************************ */
/* main */
/* ************************************************ */
.container_main {
    flex-grow: 1;
    overflow-y: auto;
    /* height: var(--height-main); */
    /* min-height: var(--height-main); */
    background: #e7e8e9;
}
.container_main > main {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: 0 var(--padding); 
}
main > div {
  padding-bottom: 1em;
}
main > div:first-child {
  padding-top: 1em;
}

/* ************************************************ */
/* footer */
/* ************************************************ */
.container_footer {
    flex-shrink: 0;
    height: var(--height-footer);
  background: #666;
}
.container_footer > footer {
  max-width: var(--max-width-container);
  margin: 0 auto;
}
